html, body {
  margin: 0;
  padding: 0;
}

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.Home h1 {
  margin-top: 150px;
}

.Home main {
  margin-top: 150px;
}